html,
body {
  background-color: #161A28;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

:root {
  --barColor: #35394d;
  --green: #4bc0c0;
  --sectionColor: #2B2F3F;
  --sectionColorText: #3A3E54;
}

body {
  transition: opacity 1s;
}

p {
  color: #bdcadb;
  font-size: 1.4em;
  margin: 0;
}

.flexRow {
  align-items: center;
  display: flex;
  justify-content: center;
}

.flexCol {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.none {
  display: none;
}

.opacityZero {
  opacity: 0;
}

.pointer {
  cursor: pointer;
  user-select: none;
}

.body {
  align-items: flex-start;
}

.highlight {
  color: #4bc0c0;
}

/*        WELCOME BAR       */

.welcomeBar {
  background-color: #3d435c;
  height: 2.8em;
  right: 0;
  position: fixed;
  top: -2.8em;
  transition: top 0.5s;
  width: 80vw;
  z-index: 2;
}

.welcomeText {
  margin: 0 1em;
}

/*        IMG BUTTONS       */

.imgButton {
  background-color: #14161f;
  height: 32em;
  justify-content: flex-end;
  width: 100%;
}

.imgButtonLeft {
  justify-content: flex-start;
}

.imgHolder {
  background-color: #14161f;
  height: 32em;
  position: relative;
}

.imgHolderText {
  align-items: flex-start;
  justify-content: flex-start;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 2;
}

.imgHolderText p {
  color: #4bc0c0;
  font-size: 4em;
  font-weight: 100;
  left: 2em;
  position: relative;
  top: 2em;
}

.imgHolder img {
  height: 100%;
  left: 0;
  opacity: 0.2;
  position: relative;
  transition: opacity 1s, left 1s;
}

/*        NAVIGATION POINTS       */
.navigationPoint {
  transition: transform 0.5s;
}

.navigationPoint:hover {
  color: #C18187;
  font-weight: bold;
  transform: scale(1.2);
}

.navigationPointHover {
  color: #4bc0c0;
}

/*        SIDE BAR        */
.sideBar {
  background-color: #272C42;
  color: #bdcadb;
  height: 100vh;
  justify-content: flex-start;
  left: -20vw;
  position: relative;
  transition: left 0.5s;
  width: 20vw;
}

#logoBox {
  height: 10em;
}

#logoBox img {
  height: 4em;
  opacity: 0.6;
}

.sideBar p {
  font-size: 1em;
  letter-spacing: 3px;
  margin: 1em;
}

/*        MAIN CONTENT        */
.mainContent {
  height: auto;
  height: 100vh;
  justify-content: flex-start;
  overflow-y: scroll;
  position: relative;
  width: 80vw;
}

.mainContent .section,
.mainContent .introAnimationBox {
  margin: 6em auto;
}

.mainContent .introAnimationBox {
  margin-top: -1em;
}

div.section {
  color: #2d3143;
  margin: 6em auto;
  width: 60%;
}

.intro {
  margin: 10em 0 2em 0;
}

.yourName {
  color: #4bc0c0;
}

.intro h1 {
  color: #fffffa;
  font-size: 4em;
  font-weight: 100;
  margin-top: 2em;
}

/*        INTRO ANIMATION BOX       */


#computerScreen {
  background-color: #14161f;
  justify-content: space-around;
}

#urlBar,
#screenInside {
  background-color: var(--barColor);
  border-radius: 0.2em;
}

#urlBar {
  color: var(--green);
  justify-content: flex-start;
}

#urlCircle {
  background-color: #2d3143;
  border-radius: 50%;
  height: 2.5em;
  left: 1em;
  position: relative;
  width: 2.5em;
}

#urlText {
  color: #4bc0c0;
  font-size: 1.4em;
  left: 3em;
  letter-spacing: 3px;
  position: relative;
}

#screenInsideTop {
  justify-content:
}

#screenInsideTopTop {
  justify-content: space-between;
}

#screenInsideTopTop > * {
  height: 2.8em;
  margin: 0 3.2em;
  width: 10em;
}

#screenMenu > * {
  color: var(--sectionColor);
  font-size: 3em;
}

#screenSignIn {
  justify-content: space-around;
}

#screenSignIn > * {
  color: var(--green);
}

#screenSignIn > * > * {
  background-color: transparent;
  border-radius: 0.02rem;
  padding: 0.4rem 0.6rem;
  text-align: center;
  font-size: 1rem;
  color: var(--green);
  width: 6em;
}

#screenInsideTopBottom {
  color: var(--sectionColor);
  font-weight: 800;
}

#screenInsideTopBottom > * > * {
  color: #fff;
  font-size: 8.8rem;
  opacity: 0.02;
}

#screenInsideTopBottom > * > span.lighter {
  color: #C18187;
  opacity: 0.6;
}

#screenInsideBottom {
  background-color: var(--sectionColorText);
}

#screenInsideBottom > * > * {
  color: #fff;
  font-size: 2.8em;
  opacity: 0.05;
}

.bottomSection {
  -moz-box-shadow: 0px 10px 19px -5px rgba(0,0,0,0);
  -webkit-box-shadow: 0px 10px 19px -5px rgba(0,0,0,0);
  background-color: #383C51;
  border-radius: 0.02em;
  box-shadow: 0px 10px 19px -5px rgba(0,0,0,0);
  margin: 1em;
}

.bottomSection.shadow {
  -moz-box-shadow: 0px 10px 19px -5px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 10px 19px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 19px -5px rgba(0,0,0,0.75);
}

#screenContainer {
  height: 34em;
  perspective: 1000px;
  width: 50em;
  margin: 2em auto;
}

.phoneScreen {
  position: relative;
  transform: rotateX(82deg) rotateY(12deg) rotateZ(-87deg);
  transform-style: preserve-3d;
}

.rotateFront {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.phoneScreen > * {
  justify-content: space-around;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0px);
}

.screenLift1 {
  transform: translateZ(100px);
}

.screenLift2 {
  transform: translateZ(200px);
}

.backgroundColorFadeIn {
  background-color: #14161f;
}

.hideElement {
  opacity: 0 !important;
}

.hideElementBC {
  background-color: rgba(0, 0, 0, 0) !important;
}




/*        SECTION       */
.miniSection {
  align-items: flex-start;
}

.miniSection h1 {
  color: #4bc0c0;
  font-size: 2.2em;
  font-weight: 100;
}

div.section.table {
  border: 0.01em solid #215e5e;
  position: relative;
  transition: left 0.5s, opacity 0.9s;
}

.details {
  color: #7b96b7;
  font-size: 1.2rem;
  transition: font-size 0.2s, color 1s;
}

.details:hover {
  color: #bdcadb;
  font-size: 1.4rem;
}

li.details {
  margin: 0 0.2em;
}

/*        PRICE TABLE       */
.row {
  width: 52em;
}

.row div {
  color: #bdcadb;
  height: 100%;
}

.row div p {
  background-color: #2E3349;
  color: #9dbed8;
  font-weight: 100;
  margin: 0.1em;
  padding: 0.4em;
}

.row .row2 p {
  background-color: transparent;
  color: #bdcadb;
}

.odd {
  background-color: #2E3349;
}

.even {
  background-color: #272C42;
}

.row1 {
  width: 30%;
}

.row2 {
  width: 50%;
}

.row3 {
  width: 20%;
}

.tableContent {
  opacity: 0;
  transition: opacity 0.5s;
}

.tableHighlight {
  opacity: 0.1;
}

p {
  transition: opacity 0.5s;
}


/*        MESSAGE FORM SECTIONS       */

.navTag:hover {
  color: #bdcadb;
  font-weight: 400;
}

span.navTag,
.at,
.your {
  color: #C18187;
  font-weight: bold;
}

span.navTag,
.your {
  opacity: 0.9;
}

.your {
  font-weight: bold;
}

.sendEmailBtn,
.sendTextBtn {
  height: 3.2em;
  width: 6em;
}

.selectedSendBtn {
  background-color: #35394d;
  border-radius: 0.1em;
}

.selectedSendBtn p {
  color: #4bc0c0;
}

div.form,
div.screen {
  margin-top: 3em;
  width: 45%;
}

div.screen {
  perspective: 500px;
  transform: rotateY(90deg);
  -webkit-transform: rotateY(90deg); /* WebKit */
  -moz-transform: rotateY(90deg); /* Mozilla */
  -o-transform: rotateY(90deg); /* Opera */
  -ms-transform: rotateY(90deg); /* Internet Explorer */
  transition: transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -o-transition: -ms-transform 0.5s;
}

.arrowOne,
.arrowTwo,
.arrowThree {
  color: #4bc0c0;
  opacity: 0;
}

div.sendBtnSection {
  margin-top: 3em;
  width: 10%;
}

.form input,
.form textarea {
  background-color: #2d3143;
  border: none;
  border-radius: 0.1em;
  box-shadow: none;
  color: #bdcadb;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4em;
  margin: 0.25em 0;
  min-height: 2em;
  outline: 0;
  text-align: center;
  text-transform:uppercase;
  width: 100%;
}

.form textarea {
  height: 4em;
}

input::placeholder,
textarea::placeholder {
  color: #bdcadb;
  opacity: 0.4;
}

.sendBtn {
  background-color: #2d3143;
  border: 0.01em solid #215e5e;
  border-radius: 0.1em;
  padding: 1em;
  transition: background-color 0.5s;
}

.sendBtn:hover {
  background-color: #494f69;
}

.arrowSection {
  justify-content: space-around;
  margin-right: 3.2em;
  width: 3.2em;
}

.device,
.deviceScreen {
  border-radius: 0.6em;
}

.device {
  background-color: #35394d;
  height: 18em;
  width: 12em;
}

.deviceScreen {
  background-color: #2d3143;
  height: 95%;
  width: 94%;
}

.deviceScreen p {
  color: #2d3143;
  font-size: 2em;
  font-weight: 600;
}

div.deviceScreen.messageSent {
  background-color: #359797;
}

label {
  color: #4bc0c0;
  font-size: 1.4em;
  font-weight: 100;
}

/*        SIGN UP SECTION       */
.ul {
  margin-top: 1em;
}

.signToMyPage {
  opacity: 0;
  transition: opacity 1s;
}

.signBtn {
  background-color: #2d3143;
  border: 1px solid #215e5e;
  color: #4bc0c0;
  margin: 0.4em;
  transition: background-color 0.5s;
}

.signBtn:hover {
  background-color: #494f69;
}

.signBtn p {
  padding: 0.2em 0.6em;
}

/*CONTACT SECTION*/
.highlightEmail {
  color: #4bc0c0;
}

a {
  text-decoration: none;
}

.contactText {
  letter-spacing: 3px;
  margin: 0.4em 0 0 0;
}

.questions {
  margin: 0 0 0.4em 0;
}

/*        FOOTER        */
div.footer {
  background-color: #14161f;
  height: 6em;
  justify-content: flex-start;
  transition: top 0.5s;
  width: 100%;
}

.footer p {
  font-size: 1em;
  font-style: italic;
  margin: 0 4em;
}

div#pricingSection.section {
  top: -4em;
  width: 52em;
}

@media screen and (max-width: 1340px) {
  #servicesSectionImgButton,
  #signUpTipSectionImgButton {
    display: none;
  }
  .servicesSection {
    display: block !important;
  }
  div.section {
    width: 76%;
  }
  .sideBar {
    display: none;
  }
  .mainContent {
    width: 100vw;
  }
  div#pricingSection.section {
    top: -2em;
    width: 90vw;
  }
  .row {
    width: 90vw;
  }
}


/*@media screen and (max-width: 1050px) {
    .sideBar,
    .introAnimationBox {
      display: none;
    }
    .mainContent {
      width: 100%;
    }
}*/

@media screen and (max-width: 1000px) {
    .sideBar,
    .introAnimationBox {
      display: none;
    }
    .mainContent {
      width: 100%;
    }
    .screen {
      display: none;
    }
    div.form, div.screen {
      width: 18em;
    }
    .sendBtn {
      margin-left: 2em;
    }
    div.section {
      width: 90%;
    }
    div#pricingSection.section,
    .row {
      opacity: 1;
      width: 100vw;
    }
    .screen {
      display: none;
    }
    div.form {
      width: 40em;
    }

    .details:hover,
    p {
      font-size: 0.8em;
    }
    .details {
      font-size: 0.7rem;
    }
    .row div p {
      font-size: 1.8em;
    }
    .form input, .form textarea {
      font-size: 2em;
    }
    .footer p {
      font-size: 2em;
    }
    .miniSection h1 {
      width: 100%;
    }
    p {
      width: 100%;
    }
    .selectedSendBtn p {
      font-size: 2em;
    }
    .sendEmailBtn, .sendTextBtn {
      height: 6em;
      text-align: center;
      width: 12em;
    }
    .sendTextBtn p,
    .sendEmailBtn p,
    label {
      font-size: 2em;
    }
    .sendBtn {
      font-size: 2em;
    }
    .contactText {
      font-size: 2em;
    }
    p.details {
      /*font-size: 0.7em;*/
    }



    .sectionContent1 p.details,
    .sectionContent3.details,
    .sectionContent5 p.details,
    #signUpTipSection,
    #contactCustomerSection {
      display: none !important;
    }
    p {
      font-size: 2rem;
    }
    .sectionContent1 p {
      font-size: 2.2em;
    }
    .sectionContent5 p.details.contactText {
      display: block !important;
      font-size: 2em;
    }
    .miniSection h1 {
      font-size: 4em;
    }
    .intro h1 {
      font-size: 9em;
    }
    .welcomeBar {
      font-size: 1.8em;
      padding: 2em 0;
      top: -7em;
    }
    .welcomeBar p {
      font-size: 2em;
      text-align: center;
    }
    #pricingSection {
      border: none;
      margin: 0;
      width: 100vw;
    }
    .row {
      font-size: 1.7em;
      width: 100vw;
    }
    .row3 {
      width: 15%;
    }
    .questions {
      font-size: 3.2em;
    }
    .mainContent .section,
    .mainContent .introAnimationBox {
      margin: 0 auto;
    }
    div#pricingSection.section.table {
      margin: 4em 0;
      transition: small;
    }
    #contactMeSection {
      margin-bottom: 4em;
    }
    p {
      color: #fff;
    }
    .miniSection h1 {
      font-weight: 400;
    }
    .odd {
      background-color: #3d435c;
    }
    .row div p {
      text-align: center;
      border-radius: 0.4em;
    }
    .row1 {
      width: 26%;
    }
    .row3 {
      width: 18%;
    }
    #number {
      font-size: 2.8em;
    }
    /*.row3 {
      transform: rotateY(90deg);
      -webkit-transform: rotateY(90deg);
      -moz-transform: rotateY(90deg);
      -o-transform: rotateY(90deg);
      -ms-transform: rotateY(90deg);
      transition: transform 0.5s;
      -webkit-transition: -webkit-transform 0.5s;
      -moz-transition: -moz-transform 0.5s;
      -o-transition: -o-transform 0.5s;
      -o-transition: -ms-transform 0.5s;
    }*/
    .flip,
    #price {
      transform: rotateY(0deg);
      -webkit-transform: rotateY(0deg); /* WebKit */
      -moz-transform: rotateY(0deg); /* Mozilla */
      -o-transform: rotateY(0deg); /* Opera */
      -ms-transform: rotateY(0deg); /* Internet Explorer */
    }
    .sectionContent1 p {
      opacity: 0;
      transition: opacity 2s;
      position: relative;
    }
    .miniSection {
      padding: 0 4em;
    }
    #servicesSection {
      margin-top: 4em;
      background-color: #474f6b;
      width: 100vw;
      padding-bottom: 6em;
    }
    div#pricingSection.section.table {
      margin: 2em 0;
    }
    #tableHeader {
      padding: 1em 0;
    }
    .odd {
      background-color: #292d3d;
    }
    .row div.row2 p {
      font-weight: 400;
    }
    .mainContent .section.intro {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100vw;
    }
    #introText {
      width: 90%;
    }
}

@media screen and (max-width: 990px) {
    ul {
      width: 94%;
    }

}

@media screen and (max-width: 710px) {
    .intro h1 {
      font-size: 3em;
    }
    .table,
    .row {
      margin: 0;
      width: 100%;
    }
}

.homeSmallScreenHeader {
  margin: 14em 0 4em 0;
  text-align: center;
}

.homeSmallScreenHeader p {
  font-size: 5.8em;
}
