html,
body {
  background-color: #1c1f2b;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

p {
  color: #bdcadb;
  font-size: 1.4em;
  margin: 0;
}

.flexRow {
  align-items: center;
  display: flex;
  justify-content: center;
}

.flexCol {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pointer {
  cursor: pointer;
  user-select: none;
}

.body {
  align-items: flex-start;
}

.highlight {
  color: #4bc0c0;
}

/*        WELCOME BAR       */

.welcomeBar {
  background-color: #3d435c;
  height: 2.8em;
  width: 100%;
  position: absolute;
  top: -2.8em;
  left: 0;
  transition: top 0.5s;
}

.welcomeText {
  margin: 0 1em;
}

/*        IMG BUTTONS       */

.imgButton {
  background-color: #14161f;
  height: 32em;
  justify-content: flex-end;
  width: 100%;
}

.imgButtonLeft {
  justify-content: flex-start;
}

.imgHolder {
  background-color: #14161f;
  height: 32em;
  position: relative;
}

.imgHolderText {
  align-items: flex-start;
  justify-content: flex-start;
  left: 0;
  position: absolute;
  top: 0;
}

.imgHolderText p {
  color: #4bc0c0;
  font-size: 2em;
  left: 2em;
  position: relative;
  top: 2em;
}

.imgHolder img {
  height: 100%;
  left: 0;
  opacity: 0.4;
  position: relative;
  transition: opacity 1s, left 1s;
}

/*        NAVIGATION POINTS       */
.navigationPoint:hover {
  color: #4bc0c0;
}

.navigationPointHover {
  color: #4bc0c0;
}

/*        SIDE BAR        */
.sideBar {
  background-color: #2d3143;
  color: #bdcadb;
  height: 100vh;
  justify-content: flex-start;
  left: -20vw;
  padding-top: 10em;
  position: relative;
  transition: left 0.5s;
  width: 20vw;
}

.sideBar p {
  font-size: 1em;
  letter-spacing: 3px;
  margin: 1em;
}

/*        MAIN CONTENT        */
.mainContent {
  height: auto;
  height: 100vh;
  justify-content: flex-start;
  overflow-y: scroll;
  width: 80vw;
  position: relative;
}

.mainContent .section,
.mainContent .introAnimationBox {
  margin: 6em auto;
}

.mainContent .introAnimationBox {
  margin-top: -1em;
}

div.section {
  color: #2d3143;
  margin: 6em auto;
  width: 60%;
}

.intro {
  margin: 10em 0 2em 0;
}

.intro h1 {
  color: #fffffa;
  font-size: 4em;
  font-weight: 100;
  margin-top: 2em;
}

/*        INTRO ANIMATION BOX       */
div.introAnimationBox {
  background-color: #14161f;
  height: 34em;
  justify-content: space-around;
  width: 50em;
}

.url,
.animationPagebody,
.animationPagebodymainSection,
.animationPagebodySideSection,
.sideSectionTop,
.sideSectionBottom {
  border-radius: 0.2em;
}

.url,
.animationPagebody {
  background-color: #35394d;
  width: 90%;
}

.typeScreen {
  background-color: transparent;
}

.typeScreenContainer {
  align-items: flex-start;
  background-color: transparent;
  color: #4bc0c0;
  font-size: 1.2em;
  height: 10em;
  justify-content: space-between;
  margin: 0 auto;
  width: 85%;
}

.typingLineOne,
.typingLineTwo,
.typingLineThree,
.typingLineFour,
.typingLineFive {
  letter-spacing: 3px;
}

.tab {
  padding-left: 2em;
}

.url {
  height: 10%;
  justify-content: flex-start;
}

.animationPagebody {
  height: 80%;
  justify-content: space-around;
  transition: transform 0.5s;
}

.urlCircle {
  background-color: #2d3143;
  border-radius: 50%;
  height: 2.5em;
  left: 1em;
  position: relative;
  width: 2.5em;
}

.url p {
  color: #4bc0c0;
  left: 3em;
  letter-spacing: 3px;
  position: relative;
}

.urlClicked {
  background-color: #4bc0c0;
}

.pageContent {
  opacity: 0;
}

.animationPagebodymainSection {
  background-color: #2d3143;
}

.animationPagebodymainSection,
.animationPagebodySideSection {
  height: 90%;
  width: 46%;
}

.animationPagebodySideSection {
  justify-content: space-around;
}

.sideSectionTop,
.sideSectionBottom,
.page2ImgTop,
.page2Blocks,
.page3Blocks {
  background-color: #2d3143;
}

.sideSectionTop,
.sideSectionBottom {
  height: 45%;
  width: 60%;
}

.page2ImgTop {
  height: 50%;
  width: 100%;
}

.page2ImgBottom {
  height: 50%;
  width: 100%;
}

.page2Blocks {
  border-radius: 1em;
  height: 9em;
  width: 14em;
}

.pageContentSignUpSignIn {
  background-color: #35394d;
  border-radius: 0.1em;
  color: #4bc0c0;
  font-weight: bold;
  margin: 2em;
  padding: 0.6em 3em;
}

.logoBox {
  height: 72%;
  width: 100%;
}

.logoBox p {
  color: #494f69;
}

.page4ImgTop {
  align-items: flex-start;
}

.signInBar {
  justify-content: flex-end;
  width: 100%;
}

.page3Blocks {
  height: 100%;
  width: 50%;
}

.p4sign {
  margin: 8px 2px;
  position: relative;
  left: -1em;
}

.p4img {
  height: 10em;
  margin: 0 10px;
  width: 9em;
}

.p4img {
  background-color: #2d3143;
}

.page3Blocks.one {
  background-color: #35394d;
}

.page3Blocks.two {
  background-color: #494f69;
}

.page4Block {
  height: 108%;
  position: relative;
  top: -15px;
  width: 82%;
}

.page4BlockImg,
.page4BlockText {
  height: 72%;
  width: 40%;
}

.page4BlockImgBlock {
  background-color: #35394d;
  border-radius: 50%;
  height: 8em;
  width: 8em;
}

.page4BlockTextLine {
  background-color: #2d3143;
  border-radius: 1em;
  height: 1em;
  margin: 1em 0;
  width: 94%;
}

.openPagePast {
  transform: rotateY(92deg);
}

.openPage {
  transform: rotateY(90deg);
}

.closePagePast {
  transform: rotateY(-2deg);
}

.closePage {
  transform: rotateY(0deg);
}

.ninetydegrees {
  transform: rotateY(90deg) !important;
  transition: transform 0s;
}

.zeroOpacity {
  opacity: 0;
}

/*        SECTION       */
.miniSection {
  align-items: flex-start;
}

.miniSection h1 {
  color: #4bc0c0;
  font-size: 2.2em;
  font-weight: 100;
}

div.section.table {
  border: 0.01em solid #215e5e;
  position: relative;
  transition: left 0.5s, opacity 0.9s;
}

.details {
  color: #7b96b7;
  font-size: 1.2rem;
  transition: font-size 0.1s;
}

.details:hover {
  color: #bdcadb;
  font-size: 1.4rem;
}

/*        PRICE TABLE       */
.row {
  width: 52em;
}

.row div {
  color: #bdcadb;
  height: 100%;
}

.row div p {
  background-color: #2d3143;
  color: #9dbed8;
  font-weight: 100;
  margin: 0.1em;
  padding: 0.4em;
}

.row .row2 p {
  background-color: transparent;
  color: #bdcadb;
}

.odd {
  background-color: #2d3143;
}

.even {
  background-color: #35394d;
}

.row1 {
  width: 30%;
}

.row2 {
  width: 50%;
}

.row3 {
  width: 20%;
}

.tableContent {
  opacity: 0;
  transition: opacity 0.5s;
}

/*        MESSAGE FORM SECTIONS       */

.navTag:hover {
  color: #bdcadb;
  font-weight: 400;
}

.sendEmailBtn,
.sendTextBtn {
  height: 3.2em;
  width: 6em;
}

.selectedSendBtn {
  background-color: #35394d;
  border-radius: 0.1em;
}

.selectedSendBtn p {
  color: #4bc0c0;
}

div.form,
div.screen {
  margin-top: 3em;
  width: 45%;
}

div.screen {
  transform: rotateY(90deg);
  transition: transform 0.5s;
}

.arrowOne,
.arrowTwo,
.arrowThree {
  color: #4bc0c0;
  opacity: 0;
}

div.sendBtnSection {
  margin-top: 3em;
  width: 10%;
}

.form input,
.form textarea {
  background-color: #2d3143;
  border: none;
  border-radius: 0.1em;
  box-shadow: none;
  color: #bdcadb;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4em;
  margin: 0.25em 0;
  min-height: 2em;
  outline: 0;
  text-align: center;
  text-transform:uppercase;
  width: 100%;
}

.form textarea {
  height: 4em;
}

input::placeholder,
textarea::placeholder {
  color: #bdcadb;
  opacity: 0.4;
}

.sendBtn {
  background-color: #2d3143;
  border: 0.01em solid #215e5e;
  border-radius: 0.1em;
  padding: 1em;
}

.arrowSection {
  justify-content: space-around;
  margin-right: 3.2em;
  width: 3.2em;
}

.device,
.deviceScreen {
  border-radius: 0.6em;
}

.device {
  background-color: #35394d;
  height: 18em;
  width: 12em;
}

.deviceScreen {
  background-color: #2d3143;
  height: 95%;
  width: 94%;
}

.deviceScreen p {
  color: #2d3143;
  font-size: 2em;
  font-weight: 600;
}

div.deviceScreen.messageSent {
  background-color: #359797;
}

label {
  color: #4bc0c0;
  font-size: 1.4em;
  font-weight: 100;
}

/*        SIGN UP SECTION       */
.ul {
  margin-top: 1em;
}

.signUpSectionAnimation {
  background-color: #222;
  height: 10em;
  position: relative;
  width: 100%;
}

.movingBall {
  background-color: #888;
  border-radius: 50%;
  height: 2em;
  width: 2em;
  position: absolute;
  top: 7.2em;
  left: 16%;
  /*16  48   80*/
}

.signUpFadeInText {
  width: 100%;
}

.signUpFadeInTextSections {
  width: 33.3%;
}

/*CONTACT SECTION*/
.highlightEmail {
  color: #4bc0c0;
}

a {
  text-decoration: none;
}

.contactText {
  letter-spacing: 3px;
  margin: 0.4em 0 0 0;
}

.questions {
  margin: 0 0 0.4em 0;
}

/*        FOOTER        */
div.footer {
  background-color: #14161f;
  height: 15em;
  justify-content: flex-start;
  transition: top 0.5s;
  width: 100%;
}

.footer p {
  font-size: 1em;
  font-style: italic;
  margin: 0 4em;
}

div#pricingSection.section {
  top: -4em;
  width: 52em;
}

@media screen and (max-width: 1340px) {
  #servicesSectionImgButton,
  #signUpTipSectionImgButton {
    display: none;
  }
  .servicesSection {
    display: block !important;
  }
  div.section {
    width: 76%;
  }
  .sideBar {
    display: none;
  }
  .mainContent {
    width: 100vw;
  }
  div#pricingSection.section {
    top: -2em;
    width: 90vw;
  }
  .row {
    width: 90vw;
  }
}


/*@media screen and (max-width: 1050px) {
    .sideBar,
    .introAnimationBox {
      display: none;
    }
    .mainContent {
      width: 100%;
    }
}*/

@media screen and (max-width: 1000px) {
    .sideBar,
    .introAnimationBox {
      display: none;
    }
    .mainContent {
      width: 100%;
    }
    .screen {
      display: none;
    }
    div.form, div.screen {
      width: 18em;
    }
    .sendBtn {
      margin-left: 2em;
    }
    div.section {
      width: 90%;
    }
    div#pricingSection.section,
    .row {
      opacity: 1;
      width: 98vw;
    }
    .screen {
      display: none;
    }
    div.form {
      width: 40em;
    }

    .details:hover,
    p {
      font-size: 0.8em;
    }
    .details {
      font-size: 0.7rem;
    }
    .row div p {
      font-size: 1.8em;
    }
    .form input, .form textarea {
      font-size: 2em;
    }
    .footer p {
      font-size: 2em;
    }
    .miniSection h1 {
      width: 100%;
    }
    p {
      width: 100%;
    }
    .selectedSendBtn p {
      font-size: 2em;
    }
    .sendEmailBtn, .sendTextBtn {
      height: 6em;
      width: 12em;
      text-align: center;
    }
    .sendTextBtn p,
    .sendEmailBtn p,
    label {
      font-size: 2em;
    }
    .sendBtn {
      font-size: 2em;
    }
    .contactText {
      font-size: 2em;
    }
    p.details {
      /*font-size: 0.7em;*/
    }



    .sectionContent1 p.details,
    .sectionContent3.details,
    .sectionContent5 p.details,
    #signUpTipSection,
    #contactCustomerSection {
      display: none !important;
    }
    p {
      font-size: 3em;
    }
    .sectionContent5 p.details.contactText {
      display: block !important;
      font-size: 3em;
    }
    .miniSection h1 {
      font-size: 4em;
    }
    .intro h1 {
      font-size: 8em;
    }
    .welcomeBar {
      font-size: 1.8em;
    }
    .welcomeBar p {
      margin: 0.2em 1em;
    }
    #pricingSection {
      border: none;
      width: 100vw;
      margin: 0;
    }
    .row {
      width: 100vw;
      font-size: 1.7em;
    }
    .row3 {
      width: 15%;
    }
    .questions {
      font-size: 3.2em;
    }
}

@media screen and (max-width: 990px) {
    ul {
      width: 94%;
    }

}

@media screen and (max-width: 710px) {
    .intro h1 {
      font-size: 3em;
    }
    .table,
    .row {
      margin: 0;
      width: 100%;
    }
}
